<div class="container">       
    <todo-form (todoCreated)="newTodoCreated($event)"></todo-form>

    <div class="ibox">
        <div class="ibox-content">
            <h5>Completed Todos</h5>
            <h2>{{ clearedTodosPercentage }}</h2>
            <div class="progress progress-mini">
                <div [style.width]="clearedTodosPercentage" class="progress-bar"></div>
            </div>

            <div class="m-t-sm small">{{ todos.length }} / {{ allTodosCount }} todo tasks left undone.</div>
        </div>
    </div>
    
    <div class="row todo-list">
        <todo-tile 
            *ngFor="let t of todos"
            [todo]="t" 
            (clicked)="onTodoTileClicked($event)"
            (finished)="onTodoFinished($event)">
        </todo-tile>
    </div>

    <div *ngIf="todos.length === 0" class="widget blue-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-thumbs-up fa-4x"></i>
            <h1 class="m-xs">{{ allTodosCount }}</h1>
            <h3 class="font-bold no-margins">
                todos finished so far!
            </h3>
            <small>--------</small>
        </div>
    </div>
</div>