<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>All Todos [<span *ngIf="todos" style="color: red">{{ todos.length }}</span>]</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#">Config option 1</a>
                </li>
                <li><a href="#">Config option 2</a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-5 m-b-xs">
                <select (change)="onTodosTypeChange($event.target.value)" class="input-sm form-control input-s-sm inline">
                    <option value="0">All</option>
                    <option value="1">Completed</option>
                    <option value="2">Uncompleted</option>
                </select>
            </div>
            <div class="col-sm-4 m-b-xs">
                <div data-toggle="buttons" class="btn-group">
                    <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>
                    <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>
                    <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" placeholder="Search" class="input-sm form-control"> 
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> 
                    </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title </th>
                        <th>Text </th>
                        <th>Created At</th>
                        <th>Finished</th>
                        <th>Priority</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let todo of todos">
                        <template [ngIf]="todosType === '0' || 
                                (todosType === '1' && todo.isFinished === true) ||
                                (todosType === '2' && todo.isFinished === false)">
                            <td>
                                <div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;">
                                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                </div>
                            </td>
                            <td>{{ todo.title }}</td>
                            <td>{{ todo.shortenedText }}</td>
                            <td>{{ todo.createdAt | date }}</td>
                            <td *ngIf="todo.isFinished === true"><i class="fa fa-check text-navy"></i></td>
                            <td *ngIf="todo.isFinished === false"><i class="fa fa-ban text-navy"></i></td>
                            <td><span class="label label-{{ todo.priorityColor }}">{{ todo.priority }}</span></td>
                        </template>
                    </tr>                    
                </tbody>
            </table>
        </div>

    </div>
</div>