<div class="container">       
    <todo-form (todoCreated)="newTodoCreated($event)"></todo-form>

    <div class="ibox">
        <div class="ibox-content">
            <h5>Completed Todos</h5>
            <h2>65%</h2>
            <div class="progress progress-mini">
                <div style="width: 68%;" class="progress-bar"></div>
            </div>

            <div class="m-t-sm small">3 todo tasks left undone.</div>
        </div>
    </div>
    
    <div class="row todo-list">
        <todo-tile 
            *ngFor="let t of todos"
            [todo]="t" 
            (clicked)="onTodoTileClicked($event)"
            (finished)="onTodoFinished($event)">
        </todo-tile>
    </div>
</div>